# Ignored files and directories
.terraform/
.terraform.tfstate.lock.info
.terraform.lock.hcl
id_rsa.pub
id_rsa
instance_key
instance_key.pub
kubeconfig
settings.json
terraform.tfstate*
terraform_to_oci
terraform_to_oci.pub
rancher-on-oci.code-workspace
